<div class="container">
<h1>Contact Brian Burkard</h1>
<p>Brian is a graphic designer and web enthusiast.</p>

<address>
  2310 Laguna Court<br>
  Apt #102<br>
  Fairborn OH 45324<br><br>
  <abbr title="Phone"><strong>Phone:</strong> </abbr>(513) 328-4075 <br>
  <abbr title="Email"><strong>Email:</strong> </abbr>brianburkard@gmail.com
</address>
</div>
