<div class="container">
<h1>Brian Burkard</h1>
<p>Brian is a graphic designer and web enthusiast.</p>

<address>
  <strong>Brian Burkard</strong><br>
  123 Main St<br>
  Anywhere, USA 10101<br>
  <abbr title="Phone">P:</abbr> (555) 555-5555<br>
   <a href="mailto:brian.burkard@example.com">brian.burkard@example.com</a>
</address>
</div>
