$navbar-default-bg: #312312;

@import "bootstrap-sprockets";
@import "bootstrap";

.smalleryet img{
	max-height: 25%;
	max-width: 25%;
	//height: auto !important;
	//background-size: 140%;
	//background-size: cover;
  	//background-position: center;
  	//background-repeat: no-repeat;
	//width:100% !important;
        //min-width:100%;
	//height: 500px;
        //height: auto;
}

.mediumyet img{
	max-height: 75%;
	max-width: 75%;
}

.highyet img{
	max-height: 95%;
	max-width: 95%;
}

.img-responsive{
	width: 100% \9;
}

.addmargin{
	margin-top:5%;
}

.pulse-back{
    // background-image: url('../images/header-shade.jpg');
    max-width: 100%;
}
